.Generate-json {
    position: relative;
    float: right;

    /* left: 20px; */
    width: 155px;
    height: 35px;
    background: #007EFF;

    box-shadow: 0px 0px 3px rgba(244, 238, 238, 0.35);
    border-radius: 5px;
    border: 1px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: 0.2px;

    /* White */

    color: #FFFFFF;


}
