.New-group-name {
    margin-top: 10px;
    width: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height : 32px;
    /* identical to box height */
    
}




.New-group-name input {
    
    margin-top: 10px;
    margin-bottom: 20px;
    width: 315px;
    height: 29px;
    
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    letter-spacing: 0.1px;
    text-indent: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A4A8;

}