.configuration-type-list{
    display: flex;
    position: relative;
    top: 7%;
    left: 1%;

    
}

.Drop-down {
    box-sizing: border-box;

    position: relative;
    left: 0%;
    top: 0%;
    bottom: 0px;
    width: 180px;
    height: 42px;
    /* White */

    background: #FFFFFF;
    /* Primary / 100 */

    border: 1px solid #007EFF;
    border-radius: 8px;
    margin-right: 75px;
 
}