.Instance-type-list-element{


    box-sizing: border-box;

    position: relative;
    width: 250px;
    height: 64px;
    left: 0px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    background: #FFFFFF;
    border-radius: 6px;
    margin:5px;


    border: 1px solid rgba(0, 0, 0, 0.29);

}