.Image-item-form{
    /* width: 100px; */
    height: inherit;
    position: relative;
    width: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.2px;
    
}

