.Section-region-selector {
    position: relative;
    top: -30px;
    float: right;
    /* color: #007EFF; */
}

.Section-region-selector span{
    color: #007EFF;
}


.Selector-input {
    box-sizing: border-box;

    position: relative;
    left: 0%;
    top: 0px;
    bottom: 0px;
    width: 180px;
    height: 42px;
    /* White */

    background: #FFFFFF;
    /* Primary / 100 */

    border: 1px solid #007EFF;
    color: 1px solid #007EFF;
    
    border-radius: 8px;
    
}
