.Price-estimator-title {
    width: 246px;
    height: 39px;
    left: 1442px;
    top: 162px;
    margin: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #000000;
    

}